[Unit]
Description=Docker container as a service
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/docker run --rm --name service localhost:5000/app:latest
ExecStop=/usr/bin/docker stop service
SuccessExitStatus=2

[Install]
WantedBy=multi-user.target
